body {
  background-color: #CFD8DC;
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;

}
.left-input {
  align-items: center;
  background-color: #455A64;
  display: grid;
  grid-column: 1;
  height: 100vh;
  position: fixed;
  width: 50%;
}

.right-stored {
  grid-column: 2;
}

form {
  width: 100%;
}

h1 {
  color: #FFF;
  font-size: 4rem;
  margin: .2rem 0;
  text-align: center;
}

img {
  height: .8em;
}

input {
  display: block;
  font-size: 1.3rem;
  height: 30px;
  margin: 1rem auto;
  width: 90%;
}

::placeholder {
  color: grey;
}

.submit-button {
  background-color: #FFC107;
  border: solid #FFC107;
  color: #FFF;
  display: block;
  font-size: 1rem;
  font-weight: 800;
  height: 30px;
  margin: auto;
  margin-top: 2.5rem;
  padding: 0;
  width: 91%;
}

.submit-button:hover {
  background-color: #FFD773;
  border: solid #FFD773;
  color: #FFF;
}

article { 
  background-color: #FFF;
  border: solid #607D8B;
  color: #455A64;
  height: 9.8rem;
  margin: 1.1rem auto;
  width: 90%;
}

.bookmark-text, .bookmark-url {
  margin-left: 4.3%;
}

a, h2, .btns {
  color: #455A64;
}

h2 {
  font-size: 2rem;
  line-height: .4rem;
}

a {
  font-size: 1.2rem;
  margin-bottom: .5rem;
  text-decoration: underline #F2F4F4;
}

a:hover {
  border-bottom: solid #FFC107;
  font-weight: 800;
}

hr {
  border-color: solid #CFD8DC;
  width: 92%;
  margin-top: 1rem;
}

.clearfix: after {
  content: " ";
  display: table;
  clear: both;
}

.btn-wrapper {
  font-size: .5rem;
  height: 1.125rem;
  margin-bottom: 1.6rem;
}

.btns{
  font-size: 2rem;
}

.read-btn {
  float: left;
}

.delete-btn {
  float: right;
}

.read-btn, .delete-btn {
  background-color: inherit;
  border: 0;
  color: #455A65;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  height: 1.5rem;
  margin:0 1.5rem;
  text-decoration: underline #F2F4F4;
}

.read-btn:hover, .delete-btn:hover {
  border-bottom: solid #FFC107;
  font-weight: 800;
}

.read{
  background-color: #F2F4F4;
}

.bookmark-read {
  color: #F05A28;
}

#website-url {
  margin-top: 2rem;
}

.total-links, .unread-bookmarks-text, .read-bookmarks-text {
  color: #FFF;
  font-weight: 800;
  text-align: center;
}

@media (max-width: 600px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: repeat 2(1fr);
  }

  h1 {
    font-size: 2.5rem;
    margin-top: .25rem
    margin-bottom: .25rem;
  }

  input, #website-url, .submit-button {
    margin-bottom: .5rem;
    margin-top: .5rem;
  }

  .unread-bookmarks-text, .read-bookmarks-text, .total-links{
    margin-bottom: .2rem;
    margin-top: .4rem;
  }

 .left-input {
    background-color: #455A64;
    display: default;
    grid-row: 1;
    height: 45vh;
    position: initial;
    width: 100%;
  }

 .right-stored {
    grid-column: 1;
    grid-row: 2;
  }
}

@media (max-width: 350px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: repeat 2(1fr);
  }

  h1 {
    font-size: 1.5rem;
    margin-top: .25rem
    margin-bottom: .25rem;
  }

  input, #website-url, .submit-button {
    margin-bottom: .5rem;
    margin-top: .5rem;
  }

  .unread-bookmarks-text, .read-bookmarks-text, .total-links{
    font-size: .8rem;
    margin-bottom: .2rem;
    margin-top: .4rem;
  }

 .left-input {
    background-color: #455A64;
    display: default;
    grid-row: 1;
    height: 45vh;
    position: initial;
    width: 100%;
  }

 .right-stored {
    grid-column: 1;
    grid-row: 2;
  }
}

