
body {
  background-color: #CFD8DC;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;

}
.left-input {
  display: grid;
  align-items: center;
  background-color: #455A64;
  grid-column: 1;
  height: 100vh;
  position: fixed;
  width: 50%;
}

.right-stored {
  display: grid;
  grid-column: 2;
}

form {
  align-items: center;
  width: 100%;
}

h1 {
  color: #FFF;
  font-size: 4em;
  margin: .2em 0;
  text-align: center;
}

img {
  height: .8em;
}

input {
  display: block;
  font-size: 1.3em;
  height: 30px;
  margin: 1em auto;
  width: 90%;
}

/*come back later fins the right grey*/
::placeholder {
  color: grey;
  
}

.submit-button {
  border: solid #FFC107;
  background-color: #FFC107;
  color: #FFF;
  display: block;
  font-size: 1em;
  font-weight: 800;
  height: 30px;
  margin: auto;
  margin-top: 2.5em;
  padding: 0;
  width: 91%;
}

.submit-button:hover {
  background-color: #FFD773;
  border: solid #FFD773;
  color: #FFF;
}

article { 
  background-color: #FFF;
  border: solid #607D8B;
  color: #455A64;
  height: 9.8em;
  margin: .7em auto;
  width: 90%;
}

.bookmark-text, .bookmark-url {
  margin-left: 4.3%;
}

a, h2, .btns {
  color: #455A64;

}

h2 {
  font-size: 2em;
  line-height: .4em;
}

a {
  font-size: 1.2em;
  margin-bottom: .5em;
  text-decoration: underline #F2F4F4;
}

a:hover {
  text-decoration: underline #FFC107;
  font-weight: 800;
}
/*figure out how to style later*/
hr {
border-color: solid #CFD8DC;
width: 92%;
margin-top: 1em;
}

.clearfix: after {
  content: " ";
  display: table;
  clear: both;
}

.btn-wrapper {
  font-size: .5em;
  height: 1.125em;
  margin-bottom: 1.6em;
}

.btns{
  font-size: 2em;
}
.read-btn {
  float: left;
}

.delete-btn {
  float: right;
}

.read-btn, .delete-btn {
  background-color: inherit;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  height: 1.5em;
  margin:0;
  margin-left: 1.5em;
  text-decoration: underline #F2F4F4;
  display: inline-block;
}
.read-btn:hover, .delete-btn:hover {
  text-decoration: underline #FFC107;
}

/*447 on mobile 583*/

.read {
  background-color: #F2F4F4;
}

#website-url {
  margin-top: 2em;
}
